@import 'helpers/normalize.css';
@import 'containers.css';

* {
    box-sizing: border-box;
}

body {
    font-size: 1.25em;
    font-family: serif;
}

/* colors from http://paletton.com/palette.php?uid=40P0u0kw0w0jyC%2BoRxVy4oIDfjr */
:root {
    --background-main: #FFFCF6;

    --black: #131313;

    --blue: #2D4F7B; /* Main Complement color */
    --blue-1: #3b8fff;
    --blue-2: #295A99;
    --blue-3: #184D91;
    --blue-4: #0B458F;

    --gold: #BC8A3A; /* Main Primary color */
    --gold-1: #FFAD27;
    --gold-2: #E9A22F;
    --gold-3: #DE9014;
    --gold-4: #DA8700;

    --green: #267A65; /* Main Secondary color (2) */
    --green-1: #1BAF8A;
    --green-2: #1E9779;
    --green-3: #0D906F;
    --green-4: #008E6A;

    --purple: #3E3482; /* Main Secondary color (1) */
    --purple-1: #4231B9;
    --purple-2: #3F32A2;
    --purple-3: #2F209A;
    --purple-4: #231397;

    --white: #e4e4e4;

}

.admin-login-username {}
.admin-login-password {}

#login-button {
    flex: 1 30%;
}
#logout-button {
    flex: 1 30%;
}


.img-thumb {
    flex: auto;
    padding: 5px;
    width: 180px;
}
.img-thumb > img {
    width: 100%;
    height: auto;
}

.directions-key {
    margin: auto;
    padding: 0.5em;
    text-align: right;
    flex: 1 6 100%;
    order: 1;
}

.directions-value {
    margin: auto;
    padding: 0.5em;
    text-align: left;
    flex: 6 1 100%;
    order: 2;
}

.features-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.features-key {
    margin: auto;
    padding: 0.5em;
    text-align: right;
    flex: 1 3 100%;
    order: 1;
}

.features-value {
    margin: auto;
    padding: 0.5em;
    text-align: left;
    flex: 3 1 100%;
    order: 2;
}

.forty-percent {
    max-width: 40%;
}

.google-map {
    height: 40vh
}

.img-key {
    max-width: 100%;
}

.logo {
    background-color: var(--black);
}

.section-header {
    background: var(--gold);
    color: var(--black);
}

.section-body {
    background: var(--background-main);
    color: var(--black);
}

.key {
    padding: 0.1em;
    text-align: right;
    order: 1;
}

.value {
    padding: 0.1em;
    text-align: left;
    order: 2;
}

.residential-details {
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    align-content: space-around;
    height: 34vh;
    /*small screen fix below*/
}

@media all and (max-width: 640px) {
    .container {
        flex-wrap: wrap;
    }

    .forty-percent {
        max-width: 100%;
    }
    .residential-details {
        height: auto;
    }
}
